@media (max-width:1500px) {
  .slider{
    left: 4rem;
  }
}
@media (max-width:1300px) {
  .slider{
    left: 2rem;
    gap: 25rem;
  }
}
@media (max-width:1200px) {
  .slider{
    left: 2rem;
    gap: 20rem;
  }
}
@media (max-width:1100px) {
  .slider{
    left: 0;
    gap: 15rem;
  }
}
